@import 'styles/vars.scss';

// 0-479 responsive mobile container

.container {
  position: relative;
  width: 100%;
  padding: 0 20px;
  outline: 1px solid yellow;

  // 480-767 adaptive mobile container

  @media screen and (min-width: 480px) {
    width: $mobile;
    margin: 0 auto;
  }

  // 768-1279 adaptive tablet container

  @media screen and (min-width: 768px) {
    width: $tablet;
    padding: 0 32px;
  }

  // 1280+ adaptive desktop container

  @media screen and (min-width: 1280px) {
    width: $desktop;
    padding: 0 16px;
  }
}
