@import 'styles/vars';

.modalContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px 12px;
  width: 280px;

  border: 1px solid $main-brand-color;
  border-radius: 16px;
  background-color: #ffffff;
  text-align: center;

  @media screen and (min-width: 768px) {
    padding: 40px 102px 60px;
    width: 704px;
  }

  @media screen and (min-width: 1280px) {
    padding: 40px 150px 60px;
    width: 822px;
  }
}

.closeBtn {
  position: absolute;
  top: 19px;
  right: 19px;

  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;

  & svg {
    width: 14px;
    height: 14px;

    @media screen and (min-width: 768px) {
      top: 21px;
      left: 21px;
      width: 18px;
      height: 18px;
    }
  }
}

.title {
  margin-bottom: 12px;

  font-weight: 600;
  font-size: 16px;
  line-height: 20px;

  color: $placeholder-color;

  @media screen and (min-width: 768px) {
    font-size: 24px;
    line-height: 48px;
  }
}

.text {
  margin-bottom: 28px;

  font-weight: 600;
  font-size: 14px;
  line-height: 18px;

  color: $placeholder-color;

  @media screen and (min-width: 768px) {
    font-size: 20px;
    line-height: 48px;
  }
}

.image {
  display: flex;
  justify-content: center;
}