@import '../../../styles/vars';

.about-section-title {
  margin-bottom: 32px;

  font-weight: 400;
  font-size: 40px;
  line-height: 1.125;

  color: $placeholder-color;
}

.aboutSectionDescription {
  margin-bottom: 32px;

  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;

  color: $placeholder-color;
}

.aboutSectionText {
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  text-align: center;

  color: $placeholder-color;
}

.aboutSectionCompareList {
  border: 2px solid black;
  border-radius: 16px;
}
