@import 'styles/vars';

.howTitle {
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  text-align: center;

  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  color: $secondary-text-color;
  max-width: 280px;

  @media screen and (min-width: 768px) {
    max-width: 499px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 72px;
  }
}

.howNumber {
  color: $main-brand-color;

  font-weight: bold;
  font-size: 72px;
  line-height: 20px;
  -webkit-text-stroke: 1px $main-brand-color;
  -webkit-text-fill-color: transparent;

  margin-right: 106px;

  text-align: center;
}

.howNumber0 {
  margin-left: 0;

  width: 74px;
  height: 26px;
}

.howNumber1 {
  margin-top: 60px;
  margin-right: auto;
  max-width: 75px;
  height: 26px;
  @media screen and (min-width: 1280px) {
    margin-top: 46px;
  }
}

.howNumber2 {
  margin-top: 40px;
  margin-right: 106px;
  width: 75px;
  @media screen and (min-width: 768px) {
    margin-right: 94px;
  }
}

.howNumber3 {
  margin-top: 60px;
  margin-left: 2px;
  width: 52px;
  @media screen and (min-width: 1280px) {
    margin-top: 50px;
  }
}

.howCommonText {
  font-weight: 300;
  font-size: 18px;
  line-height: 24px;
  margin-top: 12px;

  text-align: right;

  color: $secondary-text-color;
  @media screen and (min-width: 1280px) {
    text-align: left;
  }
}

.howCommonText1 {
  width: 174px;

  text-align: left;
  @media screen and (min-width: 768px) {
    width: 268px;
  }
  @media screen and (min-width: 1280px) {
    text-align: right;
  }
}

.howCommonText2 {
  width: 181px;
  margin-left: auto;
  @media screen and (min-width: 1280px) {
    text-align: right;
  }
}

.howCommonText3 {
  width: 280px;
  text-align: left;
  @media screen and (min-width: 768px) {
    text-align: right;
  }
}

.howTextBox {
  display: block;
  text-align: left;
}

.howTextBox0 {
  display: block;
  width: 181px;
  text-align: right;
  margin-left: auto;
}

.howTextBox1 {
  display: block;
  max-width: 181px;
  text-align: right;
  @media screen and (min-width: 768px) {
    max-width: 268px;
    margin-right: 68px;
    margin-top: 90px;
  }
  @media screen and (min-width: 1280px) {
    margin-top: 46px;
  }
}

.howTextBox2 {
  display: block;
  max-width: 181px;
  text-align: right;
  margin-left: auto;
  @media screen and (min-width: 768px) {
    position: absolute;
    right: 0;
    bottom: 24px;
  }
  @media screen and (min-width: 1280px) {
    position: static;
  }
}

.howTextBox3 {
  @media screen and (min-width: 768px) {
    position: absolute;
    right: 366px;
  }
  @media screen and (min-width: 1280px) {
    position: static;
  }
}

.howBackgroundContainer {
  background-color: $main-text-color;
}

.howTextContentContainer {
  position: relative;
  padding-top: 50px;
  min-height: 616px;
  @media screen and (min-width: 768px) {
    padding-top: 0;
    min-height: 445px;
  }
  @media screen and (min-width: 1280px) {
    width: 501px;
    height: 491px;
    margin-left: 32px;
  }
}

.howArrowBox {
  position: absolute;
}

.howArrowBox0 {
  top: 76px;
  left: 25px;
  @media screen and (min-width: 768px) {
    top: 35px;
    left: 27px;
  }
  @media screen and (min-width: 1280px) {
    top: 0px;
    left: 166px;
  }
}

.howArrowBox1 {
  top: 284px;
  right: 46px;
  transform: scale(-1, 1);
  @media screen and (min-width: 768px) {
    top: 256px;
    right: 22px;
  }
  @media screen and (min-width: 1280px) {
    top: 161px;
    right: 23px;
  }
}

.howArrowBox2 {
  top: 403px;
  left: 25px;
  @media screen and (min-width: 768px) {
    top: 12px;
    left: -147px;
  }
  @media screen and (min-width: 1280px) {
    top: 287px;
    left: 166px;
  }
}

.howArrowBox2 .arrowImage {
  @media screen and (min-width: 768px) {
    width: 115px;
    height: 84px;
  }
  @media screen and (min-width: 1280px) {
    width: 84px;
    height: 84px;
  }
}

.howTabletFlexContainer {
  display: flex;
  justify-content: space-between;
  @media screen and (min-width: 1280px) {
    justify-content: start;
  }
}

.arrowImage {
  @media screen and (min-width: 768px) {
    width: 84px;
    height: 84px;
  }
}
