@import 'styles/vars';

.howTitle {
  margin-bottom: 40px;
  margin: 0 auto;
  max-width: 280px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.33;
  text-align: center;
  color: $secondary-text-color;

  @media screen and (min-width: 768px) {
    max-width: 499px;
    margin-bottom: 50px;
  }
}

.how-list {
  position: relative;
  max-width: 330px;
  margin: 0 auto;

  @media screen and (min-width: 768px) {
    width: 336px;
    margin-left: 28px;
  }

  @media screen and (min-width: 1280px) {
    width: 500px;
    max-width: 500px;
    margin-left: 35px;
  }
}

.howItem {
  display: block;
}

.how-item0,
.how-item2 {
  margin-bottom: 30px;
  @media screen and (min-width: 768px) {
    margin-bottom: 60px;
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 15px;
  }
}

.how-item0 {
  @media screen and (min-width: 1280px) {
    margin-bottom: 22px;
  }
}

.how-item1 {
  margin-bottom: 12px;
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    margin-bottom: 55px;
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 15px;
  }
}

.how-item2 {
  @media screen and (min-width: 768px) {
    margin-bottom: 0;
  }

  @media screen and (min-width: 1280px) {
    margin-bottom: 26px;
  }
}

.how-item3 {
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    position: absolute;
    bottom: -24px;
    left: -320px;
  }
}

.howNumber {
  color: $main-brand-color;
  margin-bottom: -7px;
  text-align: left;
  font-weight: 700;
  font-size: 72px;
  line-height: 1;
  -webkit-text-stroke: 1px $main-brand-color;
  -webkit-text-fill-color: transparent;
  @media screen and (min-width: 1280px) {
    margin-bottom: -14px;
  }
}

.howNumber2 {
  padding-left: 15px;
  margin-bottom: -14px;
}

.howNumber3 {
  padding-left: 10px;
  margin-bottom: -13px;
}

.howCommonText {
  font-weight: 300;
  font-size: 18px;
  line-height: 1.333;
  color: $secondary-text-color;
}

.howCommonText0 {
  text-align: right;
  @media screen and (min-width: 1280px) {
    text-align: left;
  }
}

.howCommonText1 {
  width: 174px;

  text-align: left;
  @media screen and (min-width: 768px) {
    width: 270px;
  }
  @media screen and (min-width: 1280px) {
    text-align: right;
  }
}

.howCommonText2 {
  width: 181px;
  margin-left: auto;
  text-align: right;
}

.howCommonText3 {
  width: 280px;
  text-align: left;
  @media screen and (min-width: 768px) {
    text-align: right;
  }
}

.howTextBox {
  display: block;
}

.howTextBox0 {
  position: relative;
  width: 180px;
  margin-left: auto;

  &::after {
    content: '';
    background-repeat: no-repeat;
    width: 60px;
    height: 60px;
    background-image: url('../../../images/how/dashed-angle-arrow.png');
    position: absolute;
    left: -72px;
    bottom: 0;
    background-size: 100%;

    @media screen and (min-width: 768px) {
      width: 84px;
      height: 84px;
      left: -125px;
      bottom: -30px;
    }

    @media screen and (min-width: 1280px) {
      left: -155px;
      bottom: -12px;
    }
  }
}

.howTextBox1 {
  position: relative;
  max-width: 180px;

  @media screen and (min-width: 768px) {
    max-width: 270px;
  }

  &::after {
    content: '';
    background-repeat: no-repeat;
    width: 60px;
    height: 60px;
    background-image: url('images/how/dashed-angle-arrow.png');
    background-size: 100%;
    position: absolute;
    right: -72px;
    bottom: -12px;
    transform: scaleX(-1);

    @media screen and (min-width: 768px) {
      width: 84px;
      height: 84px;
      right: -42px;
      bottom: -77px;
    }

    @media screen and (min-width: 1280px) {
      right: -210px;
      bottom: -24px;
    }
  }
}

.howTextBox2 {
  position: relative;
  display: block;
  max-width: 180px;
  margin-left: auto;
  background-size: 100%;

  &::after {
    content: '';
    background-repeat: no-repeat;
    width: 60px;
    height: 60px;
    background-image: url('../../../images/how/dashed-angle-arrow.png');
    background-size: 100%;

    position: absolute;
    left: -72px;
    bottom: -12px;

    @media screen and (min-width: 768px) and (max-width: 1279px) {
      background-image: url('../../../images/how/dashed-straight-arrow.png');
      width: 115px;
      height: 84px;
      left: -147px;
      bottom: 24px;
    }

    @media screen and (min-width: 1280px) {
      width: 84px;
      height: 84px;
      left: -155px;
      bottom: -12px;
    }
  }
}

.howBackgroundContainer {
  background-color: $main-text-color;
}

.howTextContentContainer {
  position: relative;
  @media screen and (min-width: 768px) {
    margin-top: 0px;
  }
}

.howTabletFlexContainer {
  display: flex;
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    justify-content: space-between;
  }
}

.videoWpapper {
  padding-top: 40px;
  padding-bottom: 26px;
  @media screen and (min-width: 768px) {
    padding-top: 22px;
  }
}
