@import 'styles/vars.scss';
@import 'styles/mixins.scss';

.navList {
  @include flexBlock;
  flex-direction: column;
  justify-content: start;
  padding: 0;
  list-style: none;
  @media screen and (min-width: 1280px) {
    @include flexBlock;
  }
}
.navItem {
  margin-bottom: 32px;
  @media screen and (min-width: 1280px) {
    margin: 0 32px 0 0;
    padding: 52px 0 26px;
  }
}
.navLink {
  font-family: $main-font;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 22px;
  text-transform: uppercase;
  text-decoration: none;
  color: $secondary-text-color;
  cursor: pointer;
  &:hover {
    color: $main-brand-color;
  }
  @media screen and (min-width: 768px) {
    font-size: 24px;
    line-height: 27px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 14px;
    line-height: 16px;
  }
}
