@import 'styles/vars.scss';
@import 'styles/mixins.scss';

.contentBlock {
  @include flexBlock;
  flex-direction: column;
  align-items: flex-start;
}
.sectionTitle {
  width: 280px;
  margin-top: 18px;
  margin-bottom: 28px;
  @include textStyleHeader;
  font-size: 28px;
  line-height: 31px;
  letter-spacing: 0.01em;
  color: $main-brand-color;
  @media screen and (min-width: 768px) {
    width: 501px;
    font-size: 48px;
    line-height: 64px;
    margin-top: 35px;
    margin-bottom: 36px;
  }
  @media screen and (min-width: 1280px) {
    margin-top: 50px;
  }
}
.text1 {
  display: block;
  width: 200px;
  margin-bottom: 16px;
  @include textStyleHeader;
  font-weight: 600;
  color: $secondary-text-color;
  @media screen and (min-width: 768px) {
    width: 100%;
    margin-bottom: 8px;
    font-weight: normal;
    font-size: 16px;
    line-height: 33px;
    margin-bottom: 8px;
  }
}
.offerBlock {
  width: 280px;
  height: 230px;
  padding: 0;
  margin: 0;
  @media screen and (min-width: 768px) {
    margin-left: 200px;
    width: 400px;
  }
  @media screen and (min-width: 1280px) {
    margin-left: 220px;
  }
}
.text2 {
  position: relative;
  display: block;
  width: 240px;
  margin-bottom: 16px;
  padding-top: 120px;
  @include textStyleHeader;
  color: $third-text-color;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  @media screen and (min-width: 768px) {
    width: 250px;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    padding-top: 77px;
    margin-bottom: 30px;
  }
  @media screen and (min-width: 1280px) {
    padding-top: 45px;
  }
  & .text2_span {
    padding-left: 10px;
    font-size: 12px;
    font-weight: 300;
    opacity: 0.5;
    text-decoration: line-through;
    @media screen and (min-width: 768px) {
      font-size: 16px;
      text-decoration: line-through;
    }
  }
  &::before {
    content: ' ';
    width: 90px;
    height: 90px;
    display: block;
    position: absolute;
    top: 16px;
    background-image: url('images/header/header-snake-arrow-mobile.png');
    background-position: 0 0;
    background-size: 90px 90px;
    background-repeat: no-repeat;

    @media screen and (min-width: 768px) {
      width: 64px;
      height: 64px;
      top: -12px;
      left: 20px;
      background-image: url('images/header/header-snake-arrow.png');
      background-size: 64px 64px;
    }
    @media screen and (min-width: 1280px) {
      top: -30px;
      left: 0;
    }
  }
}
.price {
  display: block;
  position: relative;
  padding-bottom: 34px;
  margin-left: 100px;

  @include textStyleHeader;
  font-weight: 600;
  font-size: 24px;
  line-height: 20px;
  color: $secondary-text-color;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  @media screen and (min-width: 768px) {
    font-size: 36px;
    margin-left: 140px;
  }
  @media screen and (min-width: 1280px) {
  }

  &::after {
    content: ' ';
    width: 182px;
    height: 23px;
    display: block;
    position: absolute;
    left: -35px;
    top: 30px;
    background-image: url('images/header/header-dashed-line.png');
    background-position: 0 0;
    background-size: 181px 23px;
    background-repeat: no-repeat;
    @media screen and (min-width: 768px) {
      left: -20px;
      top: 35px;
    }
    @media screen and (min-width: 1280px) {
    }
  }
}
