@import 'styles/vars.scss';
@import 'styles/mixins.scss';

.languagesBlock {
  display: flex;
  align-items: center;

  @media screen and (min-width: 1280px) {
    margin-left: 44px;
  }
}

.languagesBtn {
  background: $background-color;
  outline: none;
  border: none;
  font-family: $main-font;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1;
  text-transform: uppercase;
  color: $inactive-color;
  cursor: pointer;
  &:hover {
    color: $main-brand-color;
  }
}

.separator {
  margin: 0 12px;
  display: block;
  width: 1px;
  height: 18px;
  background-color: $inactive-color;
}
