@import 'styles/vars.scss';
@import 'styles/mixins.scss';

.languagesBlock {
  @include flexBlock;
}
.languagesBtn {
  background: $background-color;
  outline: none;
  border: none;

  font-family: $main-font;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: $inactive-color;
  cursor: pointer;
  &:hover {
    color: $main-brand-color;
  }
}
.languageBetweenEl {
  display: block;
  color: $inactive-color;
}
