@import 'styles/vars.scss';

.section {
  background: $background-color;
  border: 2px solid red;
}
.contentBgImg {
  margin: 0 auto;
  min-width: 320px;
  background-image: url('images/header/header-img-mobile.png');

  background-repeat: no-repeat;
  background-position: right;
  background-size: auto 349px;

  @media screen and (min-width: 480px) {
    width: $mobile;
  }
  @media screen and (min-width: 768px) {
    width: $tablet;
    background-image: url('images/header/header-img-tablet.png');
    background-size: contain;
  }
  @media screen and (min-width: 1280px) {
    width: $desktop;
    background-image: url('images/header/header-img-desktop.png');
  }
}
