@import 'styles/vars.scss';

.section {
  background: $background-color;
}
.contentBgImg {
  margin: 0 auto;
  min-width: 320px;
  min-height: 610px;
  background-image: url('images/header/header-img-mobile.png');

  background-repeat: no-repeat;
  background-size: auto 349px;
  background-position: top 80px right 0px;

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url('images/header/header-img-mobile-x2.png');
  }

  @media screen and (min-width: 480px) {
    width: $mobile;
  }

  //----------------768px---------------
  @media screen and (min-width: 768px) {
    width: $tablet;
    min-height: 710px;
    background-image: url('images/header/header-img-tablet.png');
    background-size: contain;
    background-position: bottom 0px right 0px;

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('images/header/header-img-tablet-x2.png');
    }
  }

  //----------------------1280px-------------------------
  @media screen and (min-width: 1280px) {
    width: $desktop;
    min-height: 725px;
    background-image: url('images/header/header-img-desktop.png'),
      url('images/svg/header-triangle-mid-up.svg'),
      url('images/svg/header-triangle-mid-low.svg'),
      url('images/svg/header-triangle-small.svg'),
      url('images/svg/header-triangle-big.svg');
    background-size: contain, 44px, 47px, 59px, 34px;

    background-position: top 0 right 0, top 64px right 710px,
      top 265px right 710px, top 390px right 800px, top 510px right 700px;
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url('images/header/header-img-desktop-x2.png');
  }
}
