h1,
h2,
h3,
h4,
h5,
h6,
p,
button,
ul,
ol,
li {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  padding-left: 0;
}

img,
a,
button {
  display: block;
}

body {
  font-family: $main-font;
  width: 100vw;
  overflow-x: hidden;
  // background-color: grey;
}

link {
  outline: $main-brand-color;
}

.link {
  text-decoration: none;
  font-style: normal;
  color: inherit;
  transition: color 250ms linear;
}

.list {
  list-style: none;
}
