@mixin flexBlock {
  display: flex;
  align-items: center;
}

@mixin flexBlockSpaceBetween {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@mixin fontProperties($fs, $lh) {
  font-size: $fs + px;
  line-height: $lh;
}

@mixin textStyleHeader {
  font-family: Comfortaa;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
}
