@mixin flexBlock {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@mixin textStyleHeader {
  font-family: Comfortaa;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
}
