// BREAKPOINTS
$responce: 320px;
$mobile: 480px;
$tablet: 768px;
$desktop: 1280px;

// FONTS
$main-font: 'Comfortaa', sans-serif;
$secondary-font: 'Montserrat', sans-serif;

// COLORS

$linear-gradient: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
  linear-gradient(180deg, #20c5a0 0%, #0a866a 100%, #0a866a 100%);

// text-colors
$main-text-color: #000000;
$secondary-text-color: #ffffff;

//placeholder

$placeholder-color: #15141d;

// brand-colors
$main-brand-color: #00af87;

// backdrop
$backdrop-color: rgba(0, 0, 0, 0.7);
$background-color: #000000;

// inactiv language
$inactive-color: #666666;

//placeholder

$title-color: #15141d;

// transition
$default-transition: color 250ms linear, background-color 250ms linear,
  fill 250ms linear;
