// BREAKPOINTS
$responce: '320px';
$mobile: '480px';
$tablet: '768px';
$desktop: '1280px';

// FONTS
$main-font: 'Arial';
$test-color: green;

// COLORS
$persian-green: #00af87;
$dark-black: #000000;
$light-white: #ffffff;
$dark-grey: #15141d;
$light-grey: #666666;

$linear-gradient: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
  linear-gradient(180deg, #20c5a0 0%, #0a866a 100%, #0a866a 100%);

// text-colors
$main-text-color: 'green';
$secondary-text-color: '';

//placeholder

$placeholder-color: '';

// brand-colors
$main-brand-color: '';

// fills
$logo: '';

// backdrop
$backdrop-color: '';
