@import 'styles/vars';

.section {
  padding-top: 40px;
  padding-bottom: 40px;
  margin: 0 auto;

  @media screen and (min-width: 768px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.title {
  margin-bottom: 32px;
  font-family: $main-font;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 1.125;

  @media screen and (min-width: 768px) {
    font-size: 48px;
    line-height: 54px;
  }
}
