@import 'styles/vars.scss';
@import 'styles/mixins.scss';

.header {
  background-color: $background-color;
  padding-top: 20px;
  padding-bottom: 10px;
}
.headerContainer {
  display: flex;
  align-items: center;
}
.logoLink {
  margin-right: auto;
  cursor: url('images/svg/cursor-pointer-black.svg'), pointer;
  &:hover,
  &:focus {
    outline: none;
  }
}

.burgerOpenBtn {
  padding: 0;
  margin-left: 24px;
  outline: none;
  border: none;
  cursor: url('images/svg/cursor-pointer-black.svg'), pointer;
  background: $background-color;
  stroke: transparent;
  fill: $secondary-text-color;
  transition: $default-transition;

  &:hover,
  &:focus {
    fill: $main-brand-color;
  }

  @media screen and (min-width: 768px) {
    margin-left: 40px;
  }
}
