@import 'styles/vars';

.slider {
  color: $secondary-text-color;
  padding: 24px;
  border: 2px solid $secondary-brand-color;
  border-radius: 8px;
  box-shadow: 2px -2px 4px rgba(0, 175, 135, 0.1),
    -4px 4px 4px rgba(0, 175, 135, 0.25);

  margin: 0 auto;

  height: 416px;
}

.imgWrapper {
  margin-bottom: 26px;
}

.imgWrapper img {
  border-radius: 50%;
  margin: 0 auto 16px;
}

.card {
  text-align: center;
  font-size: 18px;
  line-height: 20px;
}

.date {
  text-align: end;
}

.cardContent {
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 18px;
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 206px;
  overflow-y: auto;
}

.videoWrapper {
  padding: 0;
}

.videoBlock {
  position: relative;
  padding-bottom: 145%;
  height: 0;
  overflow: hidden;
}

.videoContent {
  display: block;
  border: none;
  border-color: transparent;
  border-radius: 8px;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

// //tablet
// @media (min-width: 768px) {
//   .slider {
//     height: 5px;
//   }
// }

// //Desktop

// @media (min-width: 1280px) {
//   .slider {
//     height: 24px;
//   }
// }
