@import 'styles/vars.scss';
@import 'styles/mixins.scss';

.list {
  list-style-type: none;
  display: grid;
  gap: 16px 16px;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 16px;
  margin-bottom: 40px;
  max-width: 400px;
  @media screen and (min-width: 768px) {
    margin-top: 0;
    margin-bottom: 52px;
  }
}

.listItem {
  font-size: 12px;
  padding-left: 20px;
  position: relative;
  @include textStyleHeader;
  font-weight: 300;
  color: $secondary-text-color;
  @media screen and (min-width: 768px) {
    font-size: 16px;
  }

  &::before {
    content: ' ';
    width: 12px;
    height: 20px;
    display: block;
    position: absolute;
    left: 0;
    background-image: url('images/svg/header-list-mark-triangle.svg');
    background-position: 0 3px;
    background-size: 12px 12px;
    background-repeat: no-repeat;
  }
}
