@import 'styles/vars';
@import 'styles/mixins';

.footerWrapper {
  margin-bottom: 60px;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 34px;
  }
}
.mapBox {
  position: relative;
  margin-bottom: 24px;
  margin-left: auto;
  margin-right: auto;
  width: 280px;
  height: 270px;
  border-radius: 16px;
  overflow: hidden;

  // in case Google Maps won't support
  background-image: url('images/footer/footer-map-mobile.png');
  background-size: cover;
  background-position: center;
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url('images/footer/footer-map-mobile-2x.png');
  }

  @media screen and (min-width: 768px) {
    width: 336px;
    margin: 0;
    // in case Google Maps won't support
    background-image: url('images/footer/footer-map-tablet.png');
    background-size: cover;
    background-position: center;
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('images/footer/footer-map-tablet-2x.png');
    }
  }
  @media screen and (min-width: 1280px) {
    width: 608px;
    // in case Google Maps won't support
    background-image: url('images/footer/footer-map-desktop.png');
    background-size: cover;
    background-position: center;
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('images/footer/footer-map-desktop-2x.png');
    }
  }
}
.pin {
  position: absolute;
  left: 137px;
  top: 180px;
  @media screen and (min-width: 768px) {
    left: 165px;
    top: 175px;
  }
  @media screen and (min-width: 1280px) {
    left: 300px;
    top: 160px;
  }
}
.map {
  width: 280px;
  height: 270px;

  @media screen and (min-width: 768px) {
    width: 336px;
  }
  @media screen and (min-width: 1280px) {
    width: 608px;
  }
}
.loadMapText {
  text-align: center;
  color: $secondary-text-color;
}

.logo {
  display: block;
  margin-left: auto;
  margin-bottom: 40px;
}
.contactsList {
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
  color: $secondary-text-color;
  font-style: normal;
  @media screen and (min-width: 768px) {
    margin-bottom: 58px;
  }
}
.contactItem {
  margin-left: auto;
  font-family: $secondary-font;
  font-style: normal;
  @include fontProperties(16, 1.25);
  &:not(:last-child) {
    margin-bottom: 8px;
    &:hover,
    &:focus-within {
      text-decoration: underline;
    }
  }
  @media screen and (min-width: 768px) {
    @include fontProperties(18, 1.22);
  }
}
.mediaWrapper {
  width: 173px;
  margin-left: auto;
  @media screen and (min-width: 768px) {
    margin-bottom: 0;
  }
}
.mediaList {
  @include flexBlockSpaceBetween;
}
.mediaItem {
  color: $secondary-text-color;
  &:hover,
  &:focus-within {
    color: $main-brand-color;
  }
}
.mediaItem svg {
  fill: currentColor;
}

.copyRight {
  font-family: $secondary-font;
  color: $secondary-text-color;
  @include fontProperties(18, 1.22);
  text-align: center;
}
.copyRightSign {
  margin-right: 4px;
}
