@font-face {
  font-family: 'Comfortaa';
  src: url(./fonts-files/Comfortaa-Light.woff),
    url(./fonts-files/Comfortaa-Light.woff2);
  font-weight: 300;
  font-display: swap;
  font-style: normal;

  font-size: 14px;
  line-height: 0.9;
}

@font-face {
  font-family: 'Comfortaa';
  src: url(./fonts-files/Comfortaa-Regular.woff),
    url(./fonts-files/Comfortaa-Regular.woff2);
  font-weight: 400;
  font-display: swap;
  font-style: normal;

  font-size: 16px;
  line-height: 0.7;
}

@font-face {
  font-family: 'Comfortaa';
  src: url(./fonts-files/Comfortaa-Medium.woff),
    url(./fonts-files/Comfortaa-Medium.woff2);
  font-weight: 500;
  font-display: swap;
  font-style: normal;

  font-size: 24px;
  line-height: 0.9;
}

@font-face {
  font-family: 'Comfortaa';
  src: url(./fonts-files/Comfortaa-SemiBold.woff),
    url(./fonts-files/Comfortaa-SemiBold.woff2);
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Comfortaa';
  src: url(./fonts-files/Comfortaa-Bold.woff),
    url(./fonts-files/Comfortaa-Bold.woff2);
  font-weight: 700;
  font-display: swap;
  font-style: normal;

  font-size: 18px;
  line-height: 0.9;
}

@font-face {
  font-family: 'Montserrat';
  src: url(./fonts-files/Montserrat-Regular.woff),
    url(./fonts-files/Montserrat-Regular.woff2);

  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
