@import 'styles/vars.scss';
@import 'styles/mixins.scss';

.backdrop {
  padding-top: 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  overflow-y: auto;
  background: $backdrop-color;
  // backdrop-filter: blur(6px);
  &::after {
    content: '';
    background: rgba(0, 0, 0, 0.8);
    filter: blur(6px);
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100vw;
    height: 100vh;
    z-index: -1;
  }

  //

  transform: translateX(120%);
  transition: transform 250ms linear;

  &.show {
    transform: translateX(0);
  }
}

.closeBtn {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 9px;
  border: none;
  justify-content: center;
  background: $main-text-color;
  color: $secondary-text-color;
  cursor: pointer;
}

.close-icon {
  display: block;
  fill: $secondary-text-color;
  transition: $default-transition;

  &:hover,
  &:focus {
    fill: $main-brand-color;
  }
}

.logoLink {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 40px;
}
