@import 'styles/vars';

.enrollSection {
  position: relative;
  padding-top: 40px;
  padding-bottom: 40px;
  margin: 0 auto;
  background-color: $main-brand-color;
  justify-content: center;
  color: $secondary-text-color;
  text-align: center;
  font-size: 16px;

  @media screen and (min-width: 768px) {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
.enrollCall {
  margin-top: 20px;
  margin-bottom: 20px;
}
.enrollSentences {
  padding-top: 20px;
  padding-bottom: 10px;
}
.enrollButton {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}
